@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html {
  scroll-behavior: smooth;
}

[id] {
  scroll-margin-top: 56px; /* ヘッダーの高さに合わせて調整 */
}


@layer utilities {
  .hidden-scrollbar {
    -ms-overflow-style: none; /* IE, Edge 対応 */
    scrollbar-width: none; /* Firefox 対応 */
  }
  .hidden-scrollbar::-webkit-scrollbar {
    /* Chrome, Safari 対応 */
    display: none;
  }
}

.hover-animation {
  @apply hover:opacity-80 hover:scale-105 duration-300 transition-all cursor-pointer;
}

.hover-text-primary {
  @apply hover:text-primary transition-colors duration-200 hover:opacity-80
}

.all-appearance-none {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  padding-top: 56px; /* add for header */
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.swiper-button-next,
.swiper-button-prev {
  caret-color: transparent;
}

.swiper-pagination-bullet {
  caret-color: transparent;
  cursor: pointer;
}
